.portofoliosPage{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}
.portofoliosPage>h1{
    /* align-items: flex-start; */
    margin: 1em auto;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: 0.2em 0.5em;
}