.header{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    width: 70%;
    max-width: 250px;
    margin-left: 0;   
    height: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    color: #abbbec;
    top: 0;
    left: 0;
    bottom: 0; 
    /* background-color: #282c34; */
    color: whitesmoke;
    border-right: 1px solid #2a8386;
    /* display: none; */
    /* de la side-Drawer */
    /* z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out; */
}
.header.open{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0;
    width: 70%;
    max-width: 250px;
    margin-left: 0;   
    height: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    color: #abbbec;
    top: 0;
    left: 0;
    bottom: 0; 
    background-color: #282c34;
    color: whitesmoke;
    border-right: 1px solid #2a8386;
    transform: translateX(0);
    z-index: 3;
}
.header-image{
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2a8386;
}
.header-image-avatar{
    height: 10em;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid #2a8386;
    zoom: 1.2;
    cursor:pointer ;
     transition: transform 450ms;
}
.header-image-avatar:hover{
    transform: scale(1.1);
}

.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 0;
    padding-left: 0;

}
.header-menu li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    width:auto;
    text-align: center;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    padding: 0.5em 0;
    /* border: 1px solid white; */
   
    
}
.header-menu li:hover {
    background-color: #2a8386;
}
/* .header-menu li::after {
    background-color: #5e69a1;
} */
.header-copyright{
    border-top: 1px solid #2a8386;
    padding: 0.4em 0;
    text-align: center;
    margin:0;
}

@media (max-width: 768px) {
    /* .header-image,
    .header-menu,
    .header-copyright{
        display:none
    } */
    .header{
        border-right: none; 
        
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;

    }
    
}
/* @media (min-width:769px) {
    .header-toogle-btn{
        display:none
    }
} */