.header{
    width: 16rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    color: #abbbec;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #282c34;
  color: whitesmoke;

}
.header-image{
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e344e;
}
.header-image-avatar{
    height: 10em;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 50%;
    border: 0.4em solid#2e344e;
    zoom: 1.2;
    
}
.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
    margin-left: 0;

}
.header-menu li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    width:auto;
    text-align: center;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    padding: 0.5em;
    /* border: 1px solid white; */
    margin-left: -1.1em;
    
}
.header-menu li:hover {
    background-color: #283470;
}
.header-copyright{
    border-top: 1px solid #2e344e;
    padding: 0.5em;
    text-align: center;
}